@model Company
@{
    ViewData["Title"] = "Update company " + Model.Name;
}

<div class="item item-update item-company">
            <h4>Update company</h4>
                <form asp-action="Update">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
                     <div class="form">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="buttons">
                            <input type="submit" value="Update" class="btn" />
                            <a class="btn" asp-action="Index">Show All</a>
                        </div>
                    </div>
                </form>
</div>