@model Category

@{
    ViewData["Title"] = "Add a new category";
}

<div class="item item-create item-category">
            <h4>Add a new category</h4>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="buttons">
                            <input type="submit" value="Create" class="btn" />
                            <a class="btn" asp-action="Index">Show All</a>
                        </div>
                    </div>
                </form>
</div>