@model Category

@{
    ViewData["Title"] = "Details of  "+ Model.Name;
}

<div class="item item-details item-category">
        <h4>Details for @Model.Name</h4>
        <div class="form">
                <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" readonly />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="buttons">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a class="btn btn-details-edit" asp-action="Update" asp-route-id="@Model.Id">Edit</a>
                        }
                            <a class="btn" asp-action="Index">Show All</a>
                    </div>
        </div>
</div>
