@model Category

@{
    ViewData["Title"] = "Update category " + Model.Name;
}

<div class="item item-update item-category">
         <h4>Update category</h4>
                <form asp-action="Update">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="buttons">
                            <input type="submit" value="Update" class="btn" />
                            <a class="btn" asp-action="Index">Show All</a>
                        </div>
                    </div>
                </form>
</div>