@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<ApplicationUser> UserManager; 
<div class="identity-container">
    @if (!User.Identity.IsAuthenticated)
    {
        <a class="btn btn-auth btn-login" asp-controller="Account" asp-action="Login">
            <i class="bi bi-box-arrow-in-right"></i> Log in
        </a>
        <span style="padding: 5px;"></span>

        <a class="btn btn-auth btn-register" asp-controller="Account" asp-action="Register">
            <i class="bi bi-person-plus"></i> Register
        </a>
    }
    else
    {
        <div class="users-container">
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-user" asp-controller="Account" asp-action="Users">
                    Users List
                </a>
            }
        </div>
        <div class="account-container">
            <div class="account-info">
                 Hello <p>@UserManager.GetUserName(User)</p>
            </div>
            <div class="account-log-out">
                <form asp-controller="Account" asp-action="Logout">
                    <button class="btn btn-auth btn-register">
                        Log out
                    </button>
                </form>
            </div>
        </div>
    }

</div>