<div class="info-page">
        <h2 class="info-header">You are not allowed to access this page</h2>
        <p class="info-text">Please, click the button below to be redirected to the home page.</p>
        <hr />
        <p>
            <a asp-controller="Furniture" asp-action="Index" class="btn btn-outline-success" >Home Page</a>
        </p>
</div>