@model IList<projekt.Models.Furniture>
@{
}

<div id="furniture">
        <h2>Furniture list</h2>
        <div id="furniture__wrapper">
        @foreach (var furniture in @Model)
        {
               <h3>@furniture.Label</h3>
               <p>Production Date: @furniture.ProductionDate.ToString("dd.MM.yyyy")</p>

                    <a class="btn btn-primary" asp-action="Edit" asp-controller="Furniture" asp-route-id=@furniture.Id>Edit</a>
                    <a class="btn btn-secondary" asp-action="Details" asp-controller="Furniture" asp-route-id=@furniture.Id>Details</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteFurnitureModal" data-bs-id=@furniture.Id>
                     Delete
                   </button>
            @if (@furniture.ImageLink is not null)
            {
                <img src="@furniture.ImageLink" alt="furniture image" />
            }
        }
        </h3>
    <div>
        <a class="btn btn-outline-primary" asp-action="Create" asp-controller="Furniture">Add new furniture piece</a>
    </div>
</div>
<div class="modal fade" id="deleteFurnitureModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Furniture delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are You sure that you want to delete this furniture piece?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deletingLink" class="btn btn-danger" >Delete</a>
            </div>
        </div>
    </div>
</div>
<script>
    const deleteFurnitureModal = document.getElementById("deleteFurnitureModal");
    if (deleteFurnitureModal) {
        deleteFurnitureModal.addEventListener('show.bs.modal', event => {
          const id = event.relatedTarget.getAttribute('data-bs-id')
          const deletingLink = deleteFurnitureModal.querySelector('#deletingLink');
          deletingLink.href = `/furniture/delete/${id}`;
        })
      }
</script>